---
permalink: /tfjs-aap/news
---

<!DOCTYPE html>
<html lang="zxx">
  <head>
    {% include_relative _includes/head.html %}
    <!-- <script type="application/javascript;charset=utf-8" src="/tfjs-aap/housing_js/deployment.js"></script> -->
    <!-- <script type="application/javascript;charset=utf-8" src="https://raw.githubusercontent.com/arifhamed/static/main/others/aap_tfjs/deployment.js"></script> -->
    <!-- <script src="https://github.com/arifhamed/static/raw/main/others/aap_tfjs/deployment.js"></script> -->
  </head>

  <body>
    <div class="container-scroller">
      <div class="main-panel">
        <!-- partial:../partials/_navbar.html -->
        {% include_relative _includes/header.html %}

        <!-- partial -->
        <div class="flash-news-banner">
          <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <span class="badge badge-dark mr-3">Flash news</span>
                <p class="mb-0" id="news-flash-headline">
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s.
                </p>
              </div>
              <div class="d-flex">
                <span class="mr-3 text-danger" id="news-flash-datetime">Wed, March 4, 2020</span>
                <span class="text-danger">30°C, Singapore</span>
              </div>
            </div>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <h1 class="font-weight-600 mb-4">
                        NEWS
                      </h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8" id="news-column">
                      <!-- template repeated here 6 times -->
                    </div>
                    <!-- <div class="col-lg-4">
                      <h2 class="mb-4 text-primary font-weight-600">
                        Latest news
                      </h2>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="border-bottom pb-4 pt-4">
                            <div class="row">
                              <div class="col-sm-8">
                                <h5 class="font-weight-600 mb-1">
                                  Ways to stay social online while in self..
                                </h5>
                                <p class="fs-13 text-muted mb-0">
                                  <span class="mr-2">Photo </span>10 Minutes ago
                                </p>
                              </div>
                              <div class="col-sm-4">
                                <div class="rotate-img">
                                  <img
                                    src="https://raw.githubusercontent.com/arifhamed/static/main/projects/aap_tfjs/assets/images/magazine/Magzine_1.jpg"
                                    alt="banner"
                                    class="img-fluid"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="border-bottom pb-4 pt-4">
                            <div class="row">
                              <div class="col-sm-8">
                                <h5 class="font-weight-600 mb-1">
                                  Premier League players join charity..
                                </h5>
                                <p class="fs-13 text-muted mb-0">
                                  <span class="mr-2">Photo </span>10 Minutes ago
                                </p>
                              </div>
                              <div class="col-sm-4">
                                <div class="rotate-img">
                                  <img
                                    src="https://raw.githubusercontent.com/arifhamed/static/main/projects/aap_tfjs/assets/images/magazine/Magzine_2.jpg"
                                    alt="banner"
                                    class="img-fluid"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="pt-4">
                            <div class="row">
                              <div class="col-sm-8">
                                <h5 class="font-weight-600 mb-1">
                                  UK Athletics board changed stance on..
                                </h5>
                                <p class="fs-13 text-muted mb-0">
                                  <span class="mr-2">Photo </span>10 Minutes ago
                                </p>
                              </div>
                              <div class="col-sm-4">
                                <div class="rotate-img">
                                  <img
                                    src="https://raw.githubusercontent.com/arifhamed/static/main/projects/aap_tfjs/assets/images/magazine/Magzine_3.jpg"
                                    alt="banner"
                                    class="img-fluid"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending">
                        <h2 class="mb-4 text-primary font-weight-600">
                          Trending
                        </h2>
                        <div class="mb-4">
                          <div class="rotate-img">
                            <img
                              src="https://raw.githubusercontent.com/arifhamed/static/main/projects/aap_tfjs/assets/images/magazine/Magzine_4.jpg"
                              alt="banner"
                              class="img-fluid"
                            />
                          </div>
                          <h3 class="mt-3 font-weight-600">
                            Virus Kills Member Of Advising Iran’s Supreme
                          </h3>
                          <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10 Minutes ago
                          </p>
                        </div>
                        <div class="mb-4">
                          <div class="rotate-img">
                            <img
                              src="https://raw.githubusercontent.com/arifhamed/static/main/projects/aap_tfjs/assets/images/magazine/Magzine_5.jpg"
                              alt="banner"
                              class="img-fluid"
                            />
                          </div>
                          <h3 class="mt-3 font-weight-600">
                            Virus Kills Member Of Advising Iran’s Supreme
                          </h3>
                          <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10 Minutes ago
                          </p>
                        </div>
                        <div class="mb-4">
                          <div class="rotate-img">
                            <img
                              src="https://raw.githubusercontent.com/arifhamed/static/main/projects/aap_tfjs/assets/images/magazine/Magzine_6.jpg"
                              alt="banner"
                              class="img-fluid"
                            />
                          </div>
                          <h3 class="mt-3 font-weight-600">
                            Virus Kills Member Of Advising Iran’s Supreme
                          </h3>
                          <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10 Minutes ago
                          </p>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- main-panel ends -->
        <!-- container-scroller ends -->

        <!-- partial:../partials/_footer.html -->
        {% include_relative _includes/footer.html %}

        <!-- partial -->
      </div>
    </div>
    <!-- <script type="application/javascript;charset=utf-8" src="https://raw.githubusercontent.com/arifhamed/static/main/others/aap_tfjs/deployment.js"></script> -->
    <!-- <script type="module" src="https://raw.githubusercontent.com/arifhamed/static/main/others/aap_tfjs/deployment.js"></script> -->
    
    <!-- working one here! -->
    <!-- <script type="module" src="/tfjs-aap/st-news-ai/deployment.js" crossorigin="anonymous"></script> -->
    <script>
      const template = `
      <div class="col-sm-4 grid-margin">
        <div class="rotate-img"> 
          <img src="https://raw.githubusercontent.com/arifhamed/static/main/projects/aap_tfjs/assets/images/magazine/Magzine_7.jpg" alt="banner" class="img-fluid" /> 
        </div> 
      </div> 
      <div class="col-sm-8 grid-margin"> 
        <h2 class="font-weight-600 mb-2 row-headline"> 
          No charges over 2017 battle bus cases 
        </h2> 
        <p class="fs-13 text-muted mb-0"> 
          <span class="mr-2">Photo </span>
          10 Minutes ago 
        </p> 
        <p class="fs-15"> 
          Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        </p> 
      </div>`;
      bruh = new Array;
      function csvToArray(n,i=","){const r=n.slice(0,n.indexOf("\n")).split(i),t=n.slice(n.indexOf("\n")+1).split("\n");return t.map(function(n){var t=n.split(i);return r.reduce(function(n,i,r){return n[i]=t[r],n},{})})};
      function getRandomInt(t,o){return t=Math.ceil(t),o=Math.floor(o),Math.floor(Math.random()*(o-t+1))+t}
      $.ajax({
        url: "https://arifhamed.com/tfjs-aap/assets/stnews.csv",
        dataType: "text"
      }).done(function(data) {  
        // $("body").append(data);
        // bruh = csvToArray(data);
        produceNews(csvToArray(data))
      });
      function produceNews(data){
        // this part should be where the ai does its thing
        if ('content' in document.createElement('template')){
          const mainTable = document.getElementById("news-column");
          const total_iters = 6;
          var img_vals = [];
          var url_vals = [];
          while(img_vals.length < total_iters+1){var r = Math.floor(Math.random()* 10)+1;if(img_vals.indexOf(r)===-1){img_vals.push(r)}}
          while(url_vals.length < total_iters+1){var r = Math.floor(Math.random()*100)+1;if(url_vals.indexOf(r)===-1){url_vals.push(r)}}
          for (let i = 0; i < total_iters ; i++){
            const clone = document.createElement("a");
            clone.setAttribute("class","row");
            clone.setAttribute("style","text-decoration:none;color:unset;");
            clone.setAttribute("href",data[url_vals[i]]["url"])
            clone.innerHTML = template;
            let h2 = clone.querySelector("h2");
            h2.textContent = data[url_vals[i]]["headline"];
            let img = clone.querySelector("img");
            img.src = "https://raw.githubusercontent.com/arifhamed/static/main/projects/aap_tfjs/st-news-ai/"+img_vals[i]+".jpg";
            mainTable.appendChild(clone);
          }
          document.getElementById("news-flash-headline").textContent = data[url_vals[total_iters]]["headline"]
          document.getElementById("news-flash-datetime").textContent = data[url_vals[total_iters]]["datetime"]
        }
      }
    </script>
  </body>
</html>
