<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Astral Real Estate</title>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- plugin css for this page -->
<link rel="stylesheet" href="/tfjs-aap/assets/vendors/mdi/css/materialdesignicons.min.css"/>
<link rel="stylesheet" href="/tfjs-aap/assets/vendors/aos/dist/aos.css/aos.css" />
<!-- End plugin css for this page -->

<!-- Start of custom icon -->
<link rel="apple-touch-icon" sizes="57x57" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://raw.githubusercontent.com/arifhamed/static/main/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/favicon-16x16.png">
<link rel="manifest" href="https://raw.githubusercontent.com/arifhamed/static/main/icon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://raw.githubusercontent.com/arifhamed/static/main/icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- End of custom icon -->

<!-- inject:css -->
<link rel="stylesheet" href="/tfjs-aap/assets/css/style.css">
<!-- endinject -->

<!-- 
Modules :
    - jQuery
    - D3
    - TensorFlowJS (this is the default TensorFlowJS version from Google Colab. please, do not change it)
    - Universal Sentence Encoder
    - SentencePiece
    - NOT USED -> SentencePieceTokenizer
-->
<script type="module" src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/d3@7" integrity="sha384-2tWIQc5lkzct7C6Qbdxq53xls3he2NfGbLXMyjT4jKYJznivnCFIUd/5o3TiJulP" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.2.0/dist/tf.min.js" integrity="sha384-4CwbUjh5uYw5FozNTntROkJ1TGdkOTc1LO+H+9xcn03Q0x5QBmQo7aKU+rVwBeIg" crossorigin="anonymous"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/universal-sentence-encoder" integrity="sha384-4dkxWUTbFu6RPUupGSogZl5wSuXVcWNsVvZlYfuVPNOhzn9fgrKABIG1+g0s0hZ8" crossorigin="anonymous"></script>
<script data-main="https://arifhamed.com/tfjs-aap/st-news-ai/deployment.js" src="/static/js/require.js"></script>
<!-- <script type="module" src="https://cdn.jsdelivr.net/npm/@weblab-notebook/sentencepiece" integrity="sha384-y8bGsIeAvyznHMmUQCfc/5ZQ6+il7vCjYnhXStEZ7w2FRksDZojKdKDJrUZOwqFn" crossorigin="anonymous"></script> -->
<!-- <script src="https://arifhamed.com/tfjs-aap/st-news-ai/deployment.js"></script> -->
<!-- <script type="module" src="https://arifhamed.com/static/js/sentencepiece.js"></script> -->
<!-- <script src="https://raw.githubusercontent.com/arifhamed/static/main/js/packages/causality-preprocessing/src/Tokenizer/tokenizer.js" integrity="sha384-cqIhdQXkJP3Qlw1woBELy2h+r287uop0kKlF2tSlu/08Us4R/Ji76qRJJHDiHOC3" crossorigin="anonymous"></script> -->
<!-- script integrity created by arifhamed.com/tools/srihash -->